@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    font-family: "Azeret Mono", monospace;
}


/* header style */
.header-section{
    width:1536px;
    height: 606px;
    background-image: url(../assets/Hero-bg.png); 
    
    text-align: center;
}
.header-content{
    width: 928px;
    height: 540px;
    margin: 0 auto;
    padding: 26px 221px 45px 221px;
}
.header-logo{
    height: 240px;
    margin-bottom: 30px;
    
}
.header-title{
    font-size: 48px;
    font-weight: bolder;
    max-width: 998px;
    margin-bottom: 20px;
}
/* shared styles */
.description-primary{
    color: #0D1321;
    margin-top: 16px;
}  
/* button style */

.contact-btn{
    color: #FFFFFF;
    padding: 21px 24px;
    border-radius: 8px;
    background-color: #0D1321;
    margin-top: 30px;
} 
.learn-more-btn{
   
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    margin-top: 32px;

}



/* Style for why-web-development */
.web-development-details{
    
    margin: 50px auto;
    
    
}
.web-development{
    background-color: rgba(13, 19, 33, 0.02);
    width: 1150px;
    margin: 74px 120px 80px 100px;
    padding: 80px 95px;
    border-radius: 16px;
}
.heading{
    text-align: center;
}
.heading-title{
    font-size: 32px;
    font-weight: bolder;
    color: #0D1321;
}
.image-primary{
    display: flex;
    justify-content: space-between;
}
.secondary-image{
    display: flex;
    justify-content: space-between;

}
.details-title{
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.70);
}
.detail{
    background-color: white;
    padding: 20px ;
    margin-bottom: 35px;
    border-radius: 16px;
    align-items: center;
    gap: 40px;
}

/* Inspiration section style */
.inspiration{
    width: 1150px;
    margin: 0 150px 151px 200px;
}
.header-details{
    text-align: center;
}
.youtube-video{
    padding: 32px;
    border: 2px solid rgba(13, 19, 33, 0.20);
    
    overflow: hidden;
    border-radius: 10px;    
}
.inpiro-descrip{
    margin: 24px 144px 48px 144px;
}
/* skills target style */
.skill-container{
    display: flex;
    gap: 24px;
}
.skills-target{
    width: 1150px;
    margin: 0 150px 151px 200px;
}
.skill-html{
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    padding: 40px;
    max-width: 285px;
    text-align: left;
}

.skill-css{
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    padding: 40px;
    max-width: 285px;
    text-align: left;
}
.skill-js{
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    padding: 40px;
    max-width: 285px;
    text-align: left;
}
.learn-anchor{
    color: rgba(13, 19, 33, 1.00);
}

/* Footer-Support style */
.support{
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 150px 80px 150px;
    border-radius: 16px;
    padding: 64px 48px;
    text-align: center;
    width:1140px;
    height: 313px;
}
section input[type="text"], input[type="submit"]{

    border-radius: 8px;
    padding: 19px 20px;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}
    
.support-title{
    font-size: 32px ;
    color: rgb(255, 255, 255) ;
    margin-bottom: 10px;
}
.support-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.support-info{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    padding: 64px 205px 0 205px;
}

#feedback{
    width: 540px;
    text-align: start;
    margin-top: 23px;
}
/* footer nav style */
footer nav{
    display: flex;
    gap: 24px;
    display: flex;
    align-items: right  ;
    justify-content: space-between;
}
.header-icon{
    width: 1232px;
    position: absolute;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px;
    
}
.link-icon{
    display: flex;
    width: 1238px;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
}
.footer-commitment{
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
}